
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='../static/style.css')
    link(rel='stylesheet', href='../static/responsive.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    title Ayurveda Website
  body
    nav.navbar.background.h-nav-resp
      ul.nav-list.v-class-resp
        .logo
          img(src='../static/img/logo.jpg', alt='logo')
        li
          a(href='#') Home
        li
          a(href='#about') About
        li
          a(href='#services') Services
        li
          a(href='#contact') Contact Us
      .rightNav.v-class-resp
        p
          | like us on facebook : 
          a.fa.fa-facebook(href='https://www.facebook.com/Global-Ayurved-111558420608408', target='none')
      .burger
        .line
        .line
        .line
    section.background.firstSection
      h1#heading WELCOME TO AYURVEDIC WORLD!
      .box-main
        .firstHalf
          p.text-big Shop Name: GLOBAL AYURVED(Salt Lake, Sector-v)
          p.greeting-text (All kinds of Ayurvedic medicines are available.)
          #ser1.service
            | ☞ Now you can consult with our doctor online. 
            br
            |  ☞ We deliver
            |                     our products at your door-step.
      h1.location
        p
          | Our Location : Swastayan Gachi , p.o.-Polerhat , p.s. -Kashipur, Dist- S. 24 pgs, Pin-700135.
    #about
      section.section
        .paras
          p.sectionTag.text-big Introduction to Ayurveda
          p.sectionSubTag.text-small
            | Ayurveda essentially means the knowledge of life. It is a precise
            | combination of science and the art of healthy living. Ayurveda is popular for its extensive natural
            | healing ways that work on illnesses and improving the general wellness of the human body and mind.
            | It does not simply mean chanting, yoga, applying packs and massaging with oils, but branches deep
            | into the psychological and physiological aspects of eliminating the root cause of health problems.
            | Ayurveda is based on the principle that to achieve and maintain health over the course of your life,
            | you must re-balancing emotions, improve diet, practice yoga and “pranayama” (breathing exercises),
            | and make lifestyle adjustments.
        .thumbnail
          img.imgFluid(src='https://source.unsplash.com/300x300/?ayurveda', alt='laptop image')
      section.section.section-left
        .paras
          p.sectionTag.text-big How Ayurveda Works
          p.sectionSubTag.text-small
            | Every human is characterized by the mind-body type. In Ayurveda,
            | these primary qualities that govern the body are called “doshas.”
            | Like traditional Chinese medicine, the five elements of nature – water, earth, fire, space, and air
            | make up for a combination in the three primary doshas – vata, pitta, and kapha. When these doshas
            | are perfectly balanced, the state of being is healthy. When they fall out of balance through
            | dehydration, anxiety, stress, low energy or excessive exertion,the person is propelled into a state
            | of “vikruti” – an imbalanced state of body and mind.
            | Ayurveda brings health and keeps the doshas in balance. Overall, it aims to maintain and improve
            | general health no matter what age you are.
        .thumbnail
          img.imgFluid(src='https://source.unsplash.com/900x900/?ayurvedic,ayurveda', alt='laptop image')
      section.section
        .paras
          p.sectionTag.text-big Benefits of Ayurveda
          p.about-text
          h3  1. Weight Loss and Maintenance 
          .lines
            | A healthy diet and modification in lifestyle habits through Ayurvedic treatments help shed
            | excess body fat. In Ayurveda, weight is not a major concern but eating habits are. By allowing
            | the body to detox through correct dietary restrictions, it is possible to achieve a toned body.
          h3 2. Healthy and Glowing Skin and Hair 
          .lines
            | Need a perfect glow and shiny hair? Ayurveda claims that you can ditch the expensive clinical
            | treatments and go for the organic and natural ways to achieve a glow without spending too much
            | money. A balanced meal, toning exercises, and Ayurvedic supplements are enough to promote a
            | healthy skin and scalp.
            | General dietary guidelines in Ayurveda focus on consumption of fresh food taking into account
            | your dosha type, medical history, regional produce, customs, and traditions.
          h3 3. Say Goodbye to Stress 
          .lines
            | With a fast-paced lifestyle that leaves no scope for rejuvenation or relaxation, Ayurveda
            | guarantees reduction in stress and anxiety. Regular practice of yoga, meditation, breathing
            | exercises, massages, and herbal treatments allow the body to calm down, detoxify, and
            | rejuvenate.
            | Yoga improves the autonomic nervous system making your mind alert, so you can focus well and
            | stay energized throughout the day.
          h3 4. Reduce Inflammation
          .lines
            | Lack of proper diet, unhealthy eating routines, insufficient sleep, irregular sleep patterns,
            | and bad digestion can lead to inflammation. The root cause of neurological diseases, cancer,
            | diabetes, cardiovascular problems, pulmonary diseases, arthritis, and many others starts with
            | inflammation.
            | As you begin to eat according to your dosha type, the digestive system begins to strengthen.
            | Consumption of certain foods at the right times reduces toxins in the blood and digestive tract.
          h3 5. Cleanse the Body
          .lines
            | Panchakarma in Ayurveda is the practice of eliminating bodily toxins through enemas, oil
            | massages, blood letting, purgation, and other oral administration.
            | By administering these components in the human body, this allows to the elimination of food and
            | toxins that interfere with efficient bodily functions.
          h3 6. Lower Blood Pressure, Cholesterol, and Symptoms of Illness and Diseases 
          .lines
            | Researchers suggest that Ayurvedic diets and relaxation techniques help reduce plaque buildup.
            | Plaque is a result of the formation of cholesterol and fats in the inner lining of the arteries.
            | This condition is called atherosclerosis and is the root cause of heart attacks and strokes.
            | Ayurvedic medicine offers a multitude of herbs, vitamins, minerals, and proteins. These are
            | mixed together at an appropriate dosage and administered at an optimal time to prevent and
            | combat immunity related disorders.
            | Ayurvedic herbs and essential oils help increase blood flow, compliment blood circulation, and
            | draws out toxins from the body through the skin.
          p
    hr
    section#services
      section.services.services-text-center
        | Our services
        .service-text
          | All kinds of ayurvedic products are available , We deliver our products at your door-step. 
          br
          |                 Now you can consult with our doctor online. 
          br
          |                 To book an appointment with our specalized doctor or to order our product call - 8017971001.
    section#contact.contact
      h1.text-center Contact Us
      .form(action="/contact",method="post")
        input#name.form-input(type='text', name='name', placeholder='Enter Your name')
        input#phone.form-input(type='text', name='phone', placeholder='Enter Your Phone')
        input#email.form-input(type='email', name='email', placeholder='Enter Your email')
        textarea#text.form-input(name='text', cols='30', rows='7', placeholder='You can order your product here')
        button.button(type='submit') Submit
    footer.background
      p.text-footer
        | Copyright © 2027 - www.global-ayurved.in - All rights reserved
    script(src='../static/resp.js')

      